body {
  background-color: aliceblue;
}

.container-for-all {
  background-color: white;
  padding: 80px 100px;
  width: 900px;
  height: 77vh;
  margin: 0 auto;
  border-right: 16px solid #adc9f3;
  border-left: 16px solid #adc9f3;
}
.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.breed-select-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 600px;
  height: 40px;
  background-color: lightsteelblue;
  padding: 10px;
  border-radius: 4px;
}

.breed-select-container-text {
  position: absolute;
  top: 16px;
  font-size: 24px;
  margin: 0;
  color: #495f81;
}

#beautify {
  margin: 0 auto;
  width: 500px;
}

.cat-info-container {
  background-color: #adc9f3;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 800px;
  gap: 40px;
  padding: 20px;
  border-radius: 2px;
}

.temperament {
  font-size: 18px;
  font-weight: 600;
}

#breed_text {
  width: 300px;
}

.loader {
  margin-top: 10px;
  margin-bottom: 10px;
  left: 46%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #adc9f3 #adc9f3 transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #0464f5 #0464f5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #495f81 #495f81 transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
